# Ortak
node_modules
/build
/dist
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Client özel
client/.env
client/node_modules

# Server özel
server/.env
server/uploads
server/node_modules
